In [31]:
%matplotlib inline
import pandas as pd

In [32]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [33]:
sales1 = pd.read_csv('sales1.csv')
sales1

                         Book title  Number sold  Sales price  Royalty paid
0            The Bricklayer’s Bible            8         2.99          0.55
1                          Swimrand            2         1.99          0.35
2  Pining For The Fisheries of Yore           28         2.99          0.55
3                The Duck Goes Here           34         2.99          0.55
4       The Tower Commission Report            4        11.50          4.25

In [34]:
sales2 = pd.read_csv('sales2.csv')
sales2.fillna('')

                               Title Units sold List price Royalty
0
1                Sales report for Q4
2             E-Book Reader US Store
3   Pining for the Fisheries of Yore         80        3.5   14.98
4                           Swimrand          1       2.99    0.14
5             The Bricklayer's Bible         17        3.5    5.15
6                 The Duck Goes Here         34       2.99    5.78
7        The Tower Commission Report          4        9.5     6.2
8                 US royalties (USD)                         32.25
9
10
11               Sales report for Q4
12            E-Book Reader UK Store
13  Pining for the Fisheries of Yore         47       2.99   11.98
14            The Bricklayer's Bible         17       2.99     3.5
15       The Tower Commission Report          4        6.5     4.8
16                UK royalties (GBP)                         20.28
17
18
19               Sales report for Q4
20        E-Book Reader France Store
21                          Swimrand          8       1.99    0.88
22                The Duck Goes Here         12       1.99     1.5
23            France royalties (EUR)                          2.38

### Challenge: first combine these sales together into a single dataframe, then compute how much money consumers spent on each book in each currency.

In [35]:
sales2

                               Title  Units sold  List price  Royalty
0                                NaN         NaN         NaN      NaN
1                Sales report for Q4         NaN         NaN      NaN
2             E-Book Reader US Store         NaN         NaN      NaN
3   Pining for the Fisheries of Yore        80.0        3.50    14.98
4                           Swimrand         1.0        2.99     0.14
5             The Bricklayer's Bible        17.0        3.50     5.15
6                 The Duck Goes Here        34.0        2.99     5.78
7        The Tower Commission Report         4.0        9.50     6.20
8                 US royalties (USD)         NaN         NaN    32.25
9                                NaN         NaN         NaN      NaN
10                               NaN         NaN         NaN      NaN
11               Sales report for Q4         NaN         NaN      NaN
12            E-Book Reader UK Store         NaN         NaN      NaN
13  Pining for the Fisheries of Yore        47.0        2.99    11.98
14            The Bricklayer's Bible        17.0        2.99     3.50
15       The Tower Commission Report         4.0        6.50     4.80
16                UK royalties (GBP)         NaN         NaN    20.28
17                               NaN         NaN         NaN      NaN
18                               NaN         NaN         NaN      NaN
19               Sales report for Q4         NaN         NaN      NaN
20        E-Book Reader France Store         NaN         NaN      NaN
21                          Swimrand         8.0        1.99     0.88
22                The Duck Goes Here        12.0        1.99     1.50
23            France royalties (EUR)         NaN         NaN     2.38

In [125]:
col = sales2.Title.str.extract(r'\((.*)\)')

/Users/ababen/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [127]:
sales2['currency'] = col
sales2['currency'] = sales2['currency'].fillna(method = 'bfill')#, axis = 'currency')
sales2

                               Title  Units sold  List price  Royalty currency
0                                NaN         NaN         NaN      NaN      USD
1                Sales report for Q4         NaN         NaN      NaN      USD
2             E-Book Reader US Store         NaN         NaN      NaN      USD
3   Pining for the Fisheries of Yore        80.0        3.50    14.98      USD
4                           Swimrand         1.0        2.99     0.14      USD
5             The Bricklayer's Bible        17.0        3.50     5.15      USD
6                 The Duck Goes Here        34.0        2.99     5.78      USD
7        The Tower Commission Report         4.0        9.50     6.20      USD
8                 US royalties (USD)         NaN         NaN    32.25      USD
9                                NaN         NaN         NaN      NaN      GBP
10                               NaN         NaN         NaN      NaN      GBP
11               Sales report for Q4         NaN         NaN      NaN      GBP
12            E-Book Reader UK Store         NaN         NaN      NaN      GBP
13  Pining for the Fisheries of Yore        47.0        2.99    11.98      GBP
14            The Bricklayer's Bible        17.0        2.99     3.50      GBP
15       The Tower Commission Report         4.0        6.50     4.80      GBP
16                UK royalties (GBP)         NaN         NaN    20.28      GBP
17                               NaN         NaN         NaN      NaN      EUR
18                               NaN         NaN         NaN      NaN      EUR
19               Sales report for Q4         NaN         NaN      NaN      EUR
20        E-Book Reader France Store         NaN         NaN      NaN      EUR
21                          Swimrand         8.0        1.99     0.88      EUR
22                The Duck Goes Here        12.0        1.99     1.50      EUR
23            France royalties (EUR)         NaN         NaN     2.38      EUR

In [135]:
#sales2['Spent'] = sales2['Units sold'] * sales2['List price']
#sales2

sales3 = sales2.unstack('currency').size()
sales3

TypeError: 'int' object is not callable

In [132]:
sales3 = sales2.groupby(['currency', 'title']).size()
sales3

KeyError: 'title'

In [15]:
# pandas.pydata.org/pandas-docs/dev/api.html

In [16]:
# try stacking and unstacking